@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.counter {
  counter-reset: line;
}

.counter pre {
  padding-left: 3.8em !important;
}

.counter pre > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 2.5em;
  margin-left: -3.5em;
  margin-right: 1em;
  text-align: right;
  color: #888;
  position: sticky;
  left: 0;
}